.otpContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .otpInput {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .otpInput:focus {
    border-color: var(--primary-color);
    outline: none;
  }
  